<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/HelloAngular_MVC.js"></script>
  </head>
  <body ng-controller="HelloAngular">

    <table>
      <tr ng-repeat="tech in technologies">
        <td>
          {{tech.name}}
        </td>
        <td>
          {{tech.like}}
        </td>
        <td>
          {{tech.dislike}}
        </td>
        <td>
          <input type="text" value="like" ng-model="tech.like"/>
          <input type="text" value="dislike" ng-model="tech.dislike"/>
        </td>
      </tr>

    </table>



  </body>

</html>